body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  /* rem is a better way to set pixels as it adjusts to device pixels and also user visual preferences */
}

header{
  /* it will be atleast this hight 100vh means make it 100% the size of the browser hight of the view port of the device*/
  min-height: 100vh;
  background-color: #f4d142;
  width: 100%;
}

nav{
  background-color: #f48642;
  position:fixed;
  width: 100%;
}
/* nav a only stylies content that are nested inside of the navigation menu. if we had used nav, a that would have select all tools google it */
nav a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
nav li {
  display: inline-block;
  padding:1.5rem;
}

nav ul {
  margin:0;
  /* text-align: center; */
}

header main{
  text-align: center;
  padding-top: 3rem;
}

header img {
  width: 25rem;
  padding: 1rem;
}

h1
{
  text-transform: uppercase;
  text-decoration-style: double;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
/* calling out the class for styling */
.about-me {
  background-color: #e5f441;
  color: black;
  padding: 3rem 0;
  line-height: 2rem;

}
.content {
  margin: 0 auto;
  width: 50%;

}

.projects{
background-color: #41f4ee;
padding: 3rem 0;
line-height: 2;

}

.projects img {
  object-fit: cover;
  object-position: 100% 0;
  width: 300px;
  height: 300px;
}
